// Place all the styles related to thequizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.cat-list
{
  text-align: right;
  padding: 1px;
  margin: 1px;
  color: green;
  background-color:lightgrey;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
}
